body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

form input,
form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    flex: 1;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.9;
}

.btn-add {
    background: #0d6efd;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

thead {
    background: #222;
    color: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

tbody tr:nth-child(even) {
    background: #f2f2f2;
}

.btn-delete {
    background: #dc3545;
    color: white;
}

table input,
table select {
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#pagina {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.paginacao{
    margin-top:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
}

.paginacao button{
    background:#0d6efd;
    color:white;
    padding:8px 15px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.paginacao button:hover{
    opacity:0.9;
}

/* ===== BARRA AZUL SUPERIOR ===== */

.topo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background:#0d6efd;
    display:flex;
    align-items:center;
    padding:10px 20px;
    box-sizing:border-box;
    z-index: 1000;
}

form,
table,
.paginacao{
    margin-left: 30px;
    margin-right: 30px;
}

form{
    margin-top:110px;
}

/* ===== LOGO ===== */

.logo{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
    margin-right:15px;
    border:3px solid white;
}

/* ===== TÍTULO ===== */

.topo h1{
    color:white;
    margin:0;
}