/* ===== Global ===== */
body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f6f8;
    margin:0;
}


/* ===== Barra superior ===== */
.topo{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:80px;
    background:#0d6efd;
    padding:10px 20px;
}

/* Logo */
.logo{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid white;
}

/* Título*/
.titulo{
    color:#000;
    margin:auto;
    font-size:40px;
}


/* ===== Botão esconder/mostrar ===== */
.btn-eye{
    background:transparent;
    border:none;
    font-size:22px;
    cursor:pointer;
    color:#000;
}

.btn-eye:hover{
    opacity:0.8;
}


/* ===== Container principal ===== */
.conteudo{
    margin-top:20px;
}


/* ===== Formulário ===== */
form{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    margin:0 30px 25px 30px;
}

form input,
form select{
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
    flex:1;
}


/* ===== Botões ===== */
button{
    padding:10px 15px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    opacity:0.9;
}

button:active{
    transform:scale(0.97);
}

/* Botão adicionar */
.btn-add{
    background:#0d6efd;
    color:white;
}

/* Botão excluir */
.btn-delete{
    background:#dc3545;
    color:white;
}


/* ===== TABELA ===== */
table{
    width:calc(100% - 60px);
    border-collapse:collapse;
    background:white;
    margin:0 30px;
}

/* Cabeçalho */
thead{
    background:#0d6efd;
    color:white;
}

/* Células */
th,td{
    padding:12px;
    border:1px solid #ddd;
    text-align:center;
    vertical-align:middle;
}

/* Linhas alternadas */
tbody tr:nth-child(even){
    background:#f2f2f2;
}

/* Inputs da edição */
table input,
table select{
    width:100%;
    padding:6px;
    border-radius:4px;
    border:1px solid #ccc;
    box-sizing:border-box;
    text-align:center;
}

/* Largura das colunas */
th:nth-child(1), td:nth-child(1){ width:15%; }
th:nth-child(2), td:nth-child(2){ width:20%; }
th:nth-child(3), td:nth-child(3){ width:30%; }
th:nth-child(4), td:nth-child(4){ width:20%; }
th:nth-child(5), td:nth-child(5){ width:15%; }


/* ===== PAGINAÇÃO ===== */
.paginacao{
    margin:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
}

.paginacao button{
    background:#0d6efd;
    color:white;
}